#include <windows.h>

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
VS_VERSION_INFO    VERSIONINFO
FILEVERSION      0,0,0,1
PRODUCTVERSION   0,0,0,1
//  VS_FFI_FILEFLAGSMASK
    FILEFLAGSMASK    0x3fL
#ifdef _DEBUG
//  VS_FF_DEBUG|VS_FF_PRIVATEBUILD|VS_FF_PRERELEASE
    FILEFLAGS        0x1L
#else
//  final version
    FILEFLAGS        0x0L
#endif
FILEOS           VOS_NT_WINDOWS32
FILETYPE         VFT_APP
FILESUBTYPE      VFT2_UNKNOWN // not used
{
  BLOCK "StringFileInfo"
  {
    //  Lang=US English, CharSet=Windows Multilingual
    BLOCK "040904E4"
    {
      VALUE "CompanyName",      "Didier Stevens (https://DidierStevens.com)\0"
      VALUE "FileDescription",  "SelectMyParent\0"
      VALUE "LegalCopyright",   "Public domain - Didier Stevens (https://DidierStevens.com)\0"
      VALUE "OriginalFilename", "SelectMyParent.exe\0"
      VALUE "ProductName",      "SelectMyParent\0"
      VALUE "Comments",         "Start a program with a selected parent process\0"
    } // BLOCK "040904E4"
  } // BLOCK "StringFileInfo"
  BLOCK "VarFileInfo"
  {
    VALUE "Translation", 0x409, 1252 // 1252 = 0x04E4
  } // BLOCK "VarFileInfo"
}
